<link rel="stylesheet" href="/css/user_profile.css">
<div class="nav">
    <h1>Profile Section | Codeial
    </h1>

    <% if (user.id==profile_user.id) {%>
        <form action="/users/update/<%=profile_user.id%>" method="post">
            <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
            <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
            <input type="submit" value="update">
            <p>Name: <%= profile_user.name %>
            </p>
            <p>Email: <%= profile_user.email %>
            </p>
        </form>
        <% } else{%>
            <p>Name: <%= profile_user.name %>
            </p>
            <p>Email: <%= profile_user.email %>
            </p>
            <%}%>
</div>
<script src="/js/layout.js"></script>